UL LI {
	LIST-STYLE-IMAGE: url(/_images/hot_topic_bullet.gif)
}
UNKNOWN {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.list_link {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #8d1c1c; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.matrix {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px
}
.matrix A {
	COLOR: #93393a
}
.matrix_sub {
	BACKGROUND-IMAGE: url(/_images/matrix_sub_bg.gif); BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #f3f3f3; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-TOP-WIDTH: 0px; COLOR: #000000; BORDER-RIGHT: #c9c9c9 1px solid; PADDING-TOP: 1px
}
.matrix_header {
	BACKGROUND-IMAGE: url(/_images/matrix_header_bg.gif); BORDER-BOTTOM: #838383 1px solid; BORDER-LEFT: #c9c9c9 1px solid; PADDING-BOTTOM: 6px; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 5px; COLOR: #00469e; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid; PADDING-TOP: 6px
}
.matrix_info {
	BORDER-BOTTOM: #eae9e9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #f7f7f7; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-RIGHT: #c9c9c9 1px solid; PADDING-TOP: 4px
}
.matrix_info_header {
	BORDER-BOTTOM: #eae9e9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ebeaea; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid; PADDING-TOP: 4px
}
.matrix_content {
	BACKGROUND-COLOR: #ffffff; COLOR: #353535
}
.matrix_left {
	BORDER-LEFT: #c9c9c9 1px solid
}
.home_box {
	BORDER-LEFT: #d8d8d8 1px solid
}
.mtDropdownMenu {
	POSITION: absolute; OVERFLOW: hidden; TOP: -1000px; LEFT: -1000px
}
.mtDropdownMenu .mtcontent {
	POSITION: absolute
}
.mtDropdownMenu .items {
	Z-INDEX: 2; BORDER-BOTTOM: #999 1px solid; POSITION: relative; BORDER-LEFT: #999 1px solid; BORDER-TOP: #999 1px solid; TOP: 0px; BORDER-RIGHT: #999 1px solid; LEFT: 0px
}
.top .items {
	BORDER-TOP: medium none
}
.mtDropdownMenu .item {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #4a4b4b; FONT-SIZE: 10px; BORDER-TOP: medium none; CURSOR: hand; BORDER-RIGHT: medium none; TEXT-DECORATION: none
}
.mtDropdownMenu .background {
	Z-INDEX: 1; POSITION: absolute; FILTER: alpha(opacity=85); TOP: 0px; LEFT: 0px; moz-opacity: .8
}
.mtDropdownMenu .shadowRight {
	Z-INDEX: 3; POSITION: absolute; FILTER: alpha(opacity=40); WIDTH: 2px; TOP: 3px; moz-opacity: .4
}
.mtDropdownMenu .shadowBottom {
	Z-INDEX: 1; POSITION: absolute; FILTER: alpha(opacity=40); HEIGHT: 2px; LEFT: 3px; moz-opacity: .4
}
.mtDropdownMenu .hover {
	BACKGROUND: #afc7d3; COLOR: #8d1c1c
}
.mtDropdownMenu .item IMG {
	MARGIN-LEFT: 10px
}
.subtext {
	LINE-HEIGHT: 10px; FONT-FAMILY: verdana, arial, sans-serif; COLOR: #4a4a4a; FONT-SIZE: 10px
}
.subtext_title {
	LINE-HEIGHT: 22px; FONT-FAMILY: verdana, arial, sans-serif; COLOR: #264771; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.BodContent {
	LINE-HEIGHT: 16px; PADDING-LEFT: 6px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; COLOR: #4a4a4a; FONT-SIZE: 12px
}
.BodContent TD {
	LINE-HEIGHT: 16px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; COLOR: #4a4a4a; FONT-SIZE: 12px
}
.BodContent A {
	COLOR: #8d1c1c; TEXT-DECORATION: none
}
.content_highlight {
	LINE-HEIGHT: 17px; MARGIN-TOP: 10px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; COLOR: #808080; FONT-SIZE: 12px
}
.headernav {
	FONT-FAMILY: verdana, sans-serif; COLOR: #d4d3d3; FONT-SIZE: 10px
}
.headernav A {
	FONT-FAMILY: verdana, sans-serif; COLOR: #d4d3d3; FONT-SIZE: 10px
}
.headernav A:hover {
	FONT-FAMILY: verdana, sans-serif; COLOR: #d4d3d3; FONT-SIZE: 10px; TEXT-DECORATION: underline
}
.list A {
	COLOR: #264771
}
.subadtitle {
	LINE-HEIGHT: 18px; FONT-FAMILY: verdana, sans-serif; COLOR: #953637; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.subad {
	LINE-HEIGHT: 12px; PADDING-LEFT: 4px; FONT-FAMILY: verdana, sans-serif; COLOR: #000000; FONT-SIZE: 10px
}
.hottopic A {
	LINE-HEIGHT: 16px; FONT-FAMILY: arial, sans-serif; COLOR: #555555; FONT-SIZE: 10px; TEXT-DECORATION: none
}
.hottopic A:hover {
	LINE-HEIGHT: 16px; FONT-FAMILY: arial, sans-serif; COLOR: #555555; FONT-SIZE: 10px; TEXT-DECORATION: underline
}
.maintableborder {
	
}
.maintablebg {
	
}
.reg {
	BACKGROUND-IMAGE: url(/_images/reg_bg.gif); BACKGROUND-REPEAT: no-repeat
}
.navbox {
	BACKGROUND-COLOR: #ffffff; WIDTH: 204px; layer-background-color: #FFFFFF
}
.navsub {
	BACKGROUND-COLOR: #ffffff; FONT-SIZE: 11px; layer-background-color: #ffffff
}
.navsub A {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; COLOR: #666666; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.navsub A:hover {
	BACKGROUND-COLOR: #ffffff; COLOR: #8d1c1c; TEXT-DECORATION: underline
}
.nav {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #f1f1f1; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; COLOR: #666666; FONT-SIZE: 11px; PADDING-TOP: 4px; layer-background-color: #F1F1F1
}
.nav A {
	BACKGROUND-COLOR: #f1f1f1; COLOR: #666666; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.nav A:hover {
	BACKGROUND-COLOR: #f1f1f1; COLOR: #8d1c1c
}
.footer {
	LINE-HEIGHT: 17px; FONT-FAMILY: arial, sans-serif; FONT-SIZE: 10px
}
.footer A {
	LINE-HEIGHT: 17px; FONT-FAMILY: arial, sans-serif; COLOR: #264771; FONT-SIZE: 10px
}
.footer A:hover {
	LINE-HEIGHT: 17px; FONT-FAMILY: arial, sans-serif; COLOR: #264771; FONT-SIZE: 10px
}
#menubar {
	BORDER-BOTTOM: #ad5800 1px solid; POSITION: absolute; BORDER-LEFT: #ad5800 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #f9f1c8; PADDING-LEFT: 2px; WIDTH: 450px; PADDING-RIGHT: 2px; BORDER-TOP: #ad5800 1px solid; TOP: 245px; BORDER-RIGHT: #ad5800 1px solid; PADDING-TOP: 2px; LEFT: 35px
}
#menubar A {
	BORDER-BOTTOM: #f9f1c8 1px solid; BORDER-LEFT: #f9f1c8 1px solid; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; LETTER-SPACING: 1px; COLOR: #ad5800; BORDER-TOP: #f9f1c8 1px solid; BORDER-RIGHT: #f9f1c8 1px solid; TEXT-DECORATION: none
}
#menubar A.active {
	BORDER-BOTTOM-COLOR: #ccc599; BORDER-TOP-COLOR: #ffffff; BORDER-RIGHT-COLOR: #ccc599; BORDER-LEFT-COLOR: #ffffff
}
.menu .options {
	BORDER-BOTTOM: #969696 1px solid; POSITION: relative; FILTER: Alpha(Opacity=88, Style=0); BORDER-LEFT: #969696 1px solid; BACKGROUND-COLOR: #ffffff; MARGIN-BOTTOM: 1px; BORDER-TOP: #969696 1px solid; TOP: 541px; MARGIN-RIGHT: 1px; BORDER-RIGHT: #969696 1px solid; LEFT: 1016px; layer-background-color: #FFFFFF
}
.menu A {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #bccef2; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #000000; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.menu A:hover {
	BACKGROUND-COLOR: #bccef2; COLOR: #ffffff
}
#about {
	POSITION: absolute; TOP: 200px; LEFT: 5px
}
.subtitle {
	LINE-HEIGHT: 25px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; COLOR: #444444; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.domain_box {
	BORDER-BOTTOM: #a6a6a6 1px solid; BORDER-LEFT: #a6a6a6 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 175px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 19px; COLOR: #777777; FONT-SIZE: 11px; BORDER-TOP: #a6a6a6 1px solid; BORDER-RIGHT: #a6a6a6 1px solid
}
.login {
	BORDER-BOTTOM: #c4c4c4 1px solid; BORDER-LEFT: #c4c4c4 1px solid; BACKGROUND-COLOR: #e9e9e9; BORDER-TOP: #c4c4c4 1px solid; BORDER-RIGHT: #c4c4c4 1px solid
}
.login INPUT {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 22px; COLOR: #666666; FONT-SIZE: 11px
}
.login checkbox {
	COLOR: #666666
}
.login TD {
	BORDER-BOTTOM: #c4c4c4 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #555555; FONT-SIZE: 11px; BORDER-TOP: #ffffff 1px solid
}
.login .title {
	BACKGROUND-COLOR: #d0d0d0
}
.login .title TD {
	BORDER-BOTTOM-COLOR: #c4c4c4; BORDER-TOP-COLOR: #ffffff; FONT-WEIGHT: bold
}
HR {
	HEIGHT: 1px; COLOR: #dddddd
}
.subtitle-color {
	LINE-HEIGHT: 25px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; COLOR: #8d1c1c; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.subsubtitle-lighter {
	COLOR: #999999
}
.subsubtitle-color {
	COLOR: #8d1c1c
}
.notebox {
	WIDTH: 100%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #777777; FONT-SIZE: 11px
}
.contactboxform SELECT {
	WIDTH: 215px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 22px; COLOR: #666666; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.contactboxform INPUT {
	WIDTH: 215px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 22px; COLOR: #666666; FONT-SIZE: 11px
}
.contactboxform TEXTAREA {
	WIDTH: 215px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 125px; COLOR: #666666; FONT-SIZE: 11px
}
.top {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.top:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.top:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.top:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.top:hover {
	COLOR: #cccccc; TEXT-DECORATION: none
}
.navorderback {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #cccccc; FONT-SIZE: 9px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.navorderback A:hover {
	COLOR: #8d1c1c; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.navorderback A:link {
	COLOR: #cccccc; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
visited {
	COLOR: #cccccc; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
active {
	COLOR: #cccccc; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.app {
	BORDER-BOTTOM: #c4c4c4 1px solid; BORDER-LEFT: #c4c4c4 1px solid; BACKGROUND-COLOR: #e9e9e9; WIDTH: 100%; BORDER-TOP: #c4c4c4 1px solid; BORDER-RIGHT: #c4c4c4 1px solid
}
.app A {
	COLOR: #4a4b4b; TEXT-DECORATION: none
}
.app A:hover {
	COLOR: #8d1c1c; TEXT-DECORATION: underline
}
LINK {
	COLOR: #8d1c1c; TEXT-DECORATION: underline
}
visited {
	COLOR: #8d1c1c; TEXT-DECORATION: underline
}
.app TD {
	BORDER-BOTTOM: #c4c4c4 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #555555; FONT-SIZE: 11px; BORDER-TOP: #ffffff 1px solid
}
.app .title {
	BACKGROUND-COLOR: #d0d0d0
}
.app .title TD {
	BORDER-BOTTOM-COLOR: #c4c4c4; BORDER-TOP-COLOR: #ffffff; FONT-WEIGHT: bold
}
.app_highlighted {
	BACKGROUND-COLOR: #f4f4f4
}
.btn {
	BACKGROUND-IMAGE: url(/_images/button2.gif); BORDER-BOTTOM: 1px outset; BORDER-LEFT: 1px outset; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px 1px; PADDING-LEFT: 1px; WIDTH: 50px; PADDING-RIGHT: 1px; FONT-SIZE: 9px; BORDER-TOP: 1px outset; CURSOR: pointer; FONT-WEIGHT: normal; BORDER-RIGHT: 1px outset; PADDING-TOP: 1px; backgroung-image: repeat-x
}
.btn_med {
	BACKGROUND-IMAGE: url(/_images/button2.gif); BORDER-BOTTOM: 1px outset; BORDER-LEFT: 1px outset; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px 1px; PADDING-LEFT: 1px; WIDTH: 106px; PADDING-RIGHT: 1px; FONT-SIZE: 9px; BORDER-TOP: 1px outset; CURSOR: pointer; FONT-WEIGHT: normal; BORDER-RIGHT: 1px outset; PADDING-TOP: 1px; backgroung-image: repeat-x
}
.btn_wide {
	BACKGROUND-IMAGE: url(/_images/button2.gif); BORDER-BOTTOM: 1px outset; BORDER-LEFT: 1px outset; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px 1px; PADDING-LEFT: 1px; WIDTH: 150px; PADDING-RIGHT: 1px; FONT-SIZE: 9px; BORDER-TOP: 1px outset; CURSOR: pointer; FONT-WEIGHT: normal; BORDER-RIGHT: 1px outset; PADDING-TOP: 1px; backgroung-image: repeat-x
}
.app_large {
	FONT-FAMILY: verdana, sans-serif; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.app_desc {
	COLOR: #656565
}
.error {
	BORDER-BOTTOM: #ff0000 2px solid; BORDER-LEFT: #ff0000 2px solid; BACKGROUND-COLOR: #ffdede; WIDTH: 95%; BORDER-TOP: #ff0000 2px solid; BORDER-RIGHT: #ff0000 2px solid
}
.error TD {
	FONT-FAMILY: verdana, sans-serif; COLOR: #ff0000; FONT-SIZE: 10px
}
.error .title {
	BACKGROUND-COLOR: #ff9393
}
.error .title TD {
	FONT-FAMILY: verdana, sans-serif; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.info {
	BORDER-BOTTOM: #0000ff 2px solid; BORDER-LEFT: #0000ff 2px solid; BACKGROUND-COLOR: #dedeff; WIDTH: 95%; BORDER-TOP: #0000ff 2px solid; BORDER-RIGHT: #0000ff 2px solid
}
.info TD {
	FONT-FAMILY: verdana, sans-serif; COLOR: #0000ff; FONT-SIZE: 10px
}
.info .title {
	BACKGROUND-COLOR: #9393ff
}
.info .title TD {
	FONT-FAMILY: verdana, sans-serif; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.ordernav {
	BACKGROUND-COLOR: #ffffff; FONT-SIZE: 11px; layer-background-color: #ffffff
}
.ordernav A {
	BACKGROUND-COLOR: #ffffff; COLOR: #666666; TEXT-DECORATION: none
}
.ordernav A:hover {
	BACKGROUND-COLOR: #ffffff; COLOR: #8d1c1c; TEXT-DECORATION: underline
}
.ordernav .title {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.ordernav .current {
	FONT-WEIGHT: bold
}
.select {
	BORDER-LEFT: #c4c4c4 1px solid; BORDER-TOP: #c4c4c4 1px solid
}
.primary-highlight-color {
	COLOR: #8d1c1c
}
.type-small-light {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #888888; FONT-SIZE: 11px
}
.table1 {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.table1 TD {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.table1 TR {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.type-light {
	COLOR: #888888
}
#tabs UL {
	PADDING-LEFT: 0px; DISPLAY: inline; FONT: bold 10px Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif; MARGIN-LEFT: 0px
}
#tabs UL LI {
	BACKGROUND-COLOR: #e8e8e8; LIST-STYLE-TYPE: none; DISPLAY: inline; MARGIN-BOTTOM: 0px; HEIGHT: 19px; COLOR: #9d9d9d; MARGIN-LEFT: 1px
}
#tabs LI A {
	BORDER-BOTTOM: #d9d9d9 1px solid; FILTER: dropshadow(color=#FFFFFF, offx=1, offy=1); BORDER-LEFT: #d9d9d9 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; DISPLAY: inline; HEIGHT: 10px; COLOR: #9d9d9d; BORDER-TOP: #d9d9d9 1px solid; BORDER-RIGHT: #d9d9d9 1px solid; TEXT-DECORATION: none; PADDING-TOP: 1px
}
#tabs LI A:hover {
	BORDER-BOTTOM: #d0d0d0 1px solid; FILTER: dropshadow(color=#ffffff, offx=-1, offy=-1); BORDER-LEFT: #cdcdcd 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; DISPLAY: inline; HEIGHT: 10px; COLOR: #656565; BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid; TEXT-DECORATION: none; PADDING-TOP: 1px
}
#tabs UL LI.up {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #d9d9d9 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #ffffff; LIST-STYLE-TYPE: none; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; DISPLAY: inline; HEIGHT: 21px; COLOR: #656565; BORDER-TOP: #d9d9d9 1px solid; BORDER-RIGHT: #d9d9d9 1px solid; PADDING-TOP: 1px
}
